.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #040a2a;
    color: #ffffff;
    width: 16rem;
    border-radius: .5rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

.imagenCard{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.link{
    width: 100%;
    text-decoration: none;
    background-color: #ffffff;
    padding: .5rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.stock{
    font-size: 0.8rem;
    color: #757575;
}

.precio{
    font-size: 1.2rem;
}



/* Boton */

.boton{
    background-color: #00b7ff;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: .9rem;
}

.boton:hover{
    background-color: #008fc7;
    cursor: pointer;
}

.favorito{
    font-size: 1.5rem;
    cursor: pointer;
}