.contenedor{
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 90%;
}

.detalle{
    display: flex;
    gap: 1rem;
}

.imagen{
    max-width: 20rem;
    width: 100%;
    object-fit: contain;
}

.info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.descripcion{
    text-align: left;
}

.stock{
    color: #757575;
}

.precio{
    color: #040a2a;
    font-size: 1.5rem;
    font-weight: bold;
}

.botonVolver{
    color: #005a9a;
}

@media (max-width: 768px) {

    .detalle{
        flex-direction: column;
        align-items: center;
    }
}